*{
margin:0;
padding:0;
}

.App {
  text-align: center;
  margin:0;
  padding: 20px;
}

.Nav-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  margin-top: -20px;
  color: white;
  background-image: url('../Assets/crystaldroplets-web.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 54%;
  text-align: center; /*why doesn't name line up with the rest?*/
  vertical-align: middle;
}

.Title {
  padding: 25px;
}

.App-intro {
  font-size: large;
}

.Nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

/*Link styles --------------------------------------------------- */
a {

}

a:link {
  display:block;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin: 50px;
}

a:visited {
  color: white;
}

a:focus, a:hover {
  /*add glow here*/
}

a:active {
  /*animation?*/
}

a:hover { text-shadow: 0px 0px 20px white; }

.selected {
  border-bottom: 2px solid white;
}

.Title {
  font-size: 49px;
}

.transition-anim {
  width: 100% - 20px;
  height: 100%;
  margin: 20px;
}

.transition-block{
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.temp {
  position: relative;
}